header{
    height:148px;
    background-color: #7ADFBB;
    display: flex;



}
main{
    min-height:700px;
    /* background-color: #BCF4F5; */

}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin: 20px; 
    font-size:40px;
    
}
a{
    color:#AC6773;
    text-decoration: none;
    font-family: sans-serif;
}
footer{
    height:97px;
    background-color:rgb(31, 41, 41);
}
#mainManu{
    flex-grow: 1;
    display:flex;
    justify-content: flex-end;

}
#logo{
    float:left;
    height: 148px;
    width: 228px;
}
#mainMenu{
    width: 100%;
    text-align: center;
    padding-top:40px;
}
#mainMenu a{
   
    text-decoration:none;

}
#mainMenu li{
    margin-right:40px;
}
aside{
    width: 30%;
    float:left;
    margin:20px;
}
.pic{
    margin:0 auto;
    display:block;
}
#content{
    width:60%;
    float: right;
    margin:20px;
    background-color:#FFDEE4;
    min-height:600px;

}
.ass{
    font-size: 40px;
    color:#AC6773;
    font-family: sans-serif;
}
p{
    font-size: 30px;
    color:#AC6773;
    font-family: sans-serif;
    padding: 10px; 
}
.im{
    width:100px;
    height:80px;
}